<style>
    #head {
        background-color: grey;
        color: white;
    }
</style>

<% let database = data; %>
<table border="1">
    <tr id="head">
        <th>ID</th>
        <th>Name</th>
        <th>Vorname</th>
        <th>Adresse</th>
        <th>Telefon</th>
    </tr>
    <% for (let p of database) { %>
        
    <tr>
        <td><%= p.id %></td>
        <td><%= p.name %></td>
        <td><%= p.vorname %></td>
        <td><%= p.adresse %></td>
        <td><%= p.telefon %></td>
    </tr>
    
    <% } %>
</table>