<!doctype html>
<html>
  <head>
    <title>My Person DB</title>
  </head>
  <body>
      <% let database = data; %>
      <table>
          <tr>
            <th>E-Mail</th>
            <th>Name</th>
            <th>Vorname</th>
          </tr>
        <% database.forEach(function(thing){ %>
        <tr>
            <td><%= thing.email %></td>
            <td><%= thing.name %></td>
            <td><%= thing.vorname %></td>
        </tr>
        <% }) %>
      </table>
  </body>
</html>