<table cellspacing='15'>
    <%
       for (var i=0; i<arr.length; i++) { 
    %>
        <tr>
            <td>Name:</td>
            <td><input type='text' size='50' 
                       id='name_<%=arr[i]._id%>' value='<%=arr[i].name%>'/></td>
            <td>Straße:</td>
            <td><input type='text' size='50' 
                       id='street_<%=arr[i]._id%>' value='<%=arr[i].address.street%>'/></td>
            <td><button onclick='save("<%=arr[i]._id%>")'>save</button></td>
        </tr>
    <%  
        }
    %>
</table>

   
